
/* Your CSS Code here. */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}

body{
    width: 100%;
   height:auto;
   overflow-x: hidden;
}
/* navbar */


header{
        background-color: rgb(95, 119, 45);
        position: sticky;
        top: 0%;
}
.navbar{
    width: 100vw;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    color:white;
    font-size: 22px;
    padding: 0px 20px 0px 10px;
    margin-bottom: 100px;


}


.list-items li{
    display: inline-block;
    margin-right: 10px;
}

li {
    list-style: none;
    font-size: 20px;
    font-weight: 400;
}

ul li a{
    text-decoration: none;
    color:white;
    font-size: 20px;
    font-weight: 400;
}


ul li:hover,a:hover{
    color:rgb(194, 255, 103);
    text-decoration: underline;
}
video{
	width:400px;
}
